<%- include('../partials/header') %>

<main>
  <h1>Collections</h1>
  <section class="collections-display">
    <% collections.forEach(collection => { %>
      <article class="collections-display__collection">
        <a href="/collections/<%= collection._id %> ">
          <h2><%= collection.collectionName %> </2>
        </a>
        <p><%= collection.owner.name %></p>
      </article>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %> 