<%- include('../partials/header') %>

<main>
  <h1>Collections</h1>
  <section class="collections-display">
    <% collections.forEach(collection => { %>
      <article class="collections-display__collection">
        <img src="<%= collection.cards.length ? collection.cards[0].card.cardDetails.image_uris.art_crop : '' %>" alt="">
        <section class="collections-display__collection__description">
          <a href="/collections/<%= collection._id %> ">
            <h3 class="collection-name"><%= collection.collectionName %> </h3>
          </a>
          <p class="collection-owner"><%= collection.owner.name %></p>
        </section>
      </article>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %> 