<%- include('../partials/header') %>

<main>
  <h1>Collections</h1>
  <section class="collections-display">
    <% collections.forEach(collection => { %>
      <article class="collections-display__collection">
        <img src="https://c1.scryfall.com/file/scryfall-cards/art_crop/front/a/4/a457f404-ddf1-40fa-b0f0-23c8598533f4.jpg?1645328634" alt="">
        <section class="collections-display__collection__description">
          <a href="/collections/<%= collection._id %> ">
            <h3 class="collection-name"><%= collection.collectionName %> </h3>
          </a>
          <p class="collection-owner"><%= collection.owner.name %></p>
        </section>
      </article>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %> 