<%- include('../partials/header') %>

<main>
  <h1>Collections</h1>
  <section>
    <% collections.forEach(collection => { %>
      <article class="collection-overview">
        <a href="/collections/<%= collection._id %>"><%= collection.collectionName %></a>
        <p><%= collection.owner.name %></p>
      </article>
    <% }); %>
  </section>
</main>

<%- include('../partials/footer') %> 