<%- include('../partials/header') %>
<main>
  <section class="collection-controls">
    <section class="collection-info">
      <h1>My Collections</h1>
    </section>
    <button id="new-collection-btn">New Collection</button>
  </section>
  <div class="modal">
    <form action="/collections" method="POST" class="modal-form">
      <div class="fa-solid fa-x modal-close"></div>
      <label for="collectionName" class="hide">Collection Name</label>
      <input type="text" name="collectionName" placeholder="Collection Name" required>
      <button type="submit" class="hide">Create Collection</button>
    </form>
  </div>
  <section class="collections-display">
    <% collections.forEach(collection => { %>
      <article class="collections-display__collection">
        <a href="/collections/<%= collection._id %> ">
          <h2><%= collection.collectionName %> </2>
        </a>
        <p><%= collection.owner.name %></p>
      </article>
    <% }) %>
  </section>
</main>
<script>
  const newCollectionBtn = document.querySelector('#new-collection-btn');
  const modalElement = document.querySelector('.modal');
  const modalClose = document.querySelector('.modal-close');
  newCollectionBtn.addEventListener('click', (evt) => {
    console.log('Modal Button Clicked')
    modalElement.style.display = 'block';
  });
  modalClose.addEventListener('click', (evt) => {
    modalElement.style.display = 'none';
  });
</script>
<%- include('../partials/footer') %> 