<%- include('../partials/header') %>

<main>
  <h1><%= collection.collectionName %></h1>
  <p>By <%= collection.owner.name %></p>
  <p><%= collection.cards %></p>
</main>

<%- include('../partials/footer') %> 