<%- include('../partials/header') %>
<main>  
  <h1>Card Search</h1>
  <form action="/cards/search" method="GET" class="search-form">
    <label for="q" class="hide">Search for cards</label>
    <input type="text" id="search-bar" name="q" placeholder="Search for cards...">
    <button type="submit" class="hide">Find Cards</button>
  </form>
  <% if (cards) { %>
    <section class="card-display">
      <% cards.forEach(card => { %>
        <% if ((card.layout === 'art_series' || card.layout === 'modal_dfc' || card.layout === 'transform') && card.image_status !== 'missing') {%>
          <article class="card-display__card">
            <div class="card-display__card__top-flip">
              <div class="card-display__card__top-flip__inner">
                <% card.card_faces.forEach((cardFace) => { %>
                  <div class="card-container small">
                    <a href="<%= card.scryfall_uri %>">
                      <img src="<%= cardFace.image_uris.small %>" alt="<%= cardFace.name %> "></p>
                    </a>
                  </div>
                <% }); %>
              </div>
            </div>
            <section class="card-details">
              <section class="name-set">
                <h3 class="card-name"><%= card.name %></h3>
                <p class="text-secondary"><%= card.set_name %></p>
              </section>
              <p class="card-price"><%= card.prices.usd ? `Price: $${card.prices.usd}` : 'Price Unavailable' %> </p>
              <% if (collections && collections.length > 0) { %>
                <form class="edit-form" action="/cards" method="POST" class="collection-adder">
                  <label for="collections" class="hide">Collections</label>
                  <select name="collection">
                    <% collections.forEach(collection => { %>
                      <option value="<%= collection._id %>"><%= collection.collectionName %></option>
                    <% }) %>
                  </select>
                  <input type="text" name="cardId" value="<%= card.id %>" class="hide">
                  <label for="quantity" class="hide">Quantity</label>
                  <input type="number" value="1" name="quantity">
                  <section class="edit-form-buttons">
                    <button type="submit">Add to Collection</button>
                  </section>
                </form>
              <% } else if (collections.length === 0) { %>
                <p class="text-secondary">Please Make A Collection to Add Cards</p>
              <% } %> 
            </section>
          </article>
        <% } else {%>
          <article class="card-display__card">
            <div class="card-container small">
              <a href="<%= card.scryfall_uri %>">
                <img src="<%= card.image_uris ? card.image_uris.small : '' %>">
              </a>
            </div>
            <section class="card-details">
              <section class="name-set">
                <h3 class="card-name"><%= card.name %></h3>
                <p class="text-secondary"><%= card.set_name %></p>
              </section>
              <p class="card-price"><%= card.prices.usd ? `Price: $${card.prices.usd}` : 'Price Unavailable' %> </p>
              <% if (collections && collections.length > 0) { %>
                <form class="edit-form" action="/cards" method="POST" class="collection-adder">
                  <label for="collections" class="hide">Collections</label>
                  <select name="collection">
                    <% collections.forEach(collection => { %>
                      <option value="<%= collection._id %>"><%= collection.collectionName %></option>
                    <% }) %>
                  </select>
                  <input type="text" name="cardId" value="<%= card.id %>" class="hide">
                  <label for="quantity" class="hide">Quantity</label>
                  <input type="number" value="1" name="quantity">
                  <section class="edit-form-buttons">
                    <button type="submit">Add</button>
                  </section>
                </form>
              <% } else if (collections.length === 0) { %>
                <p class="text-secondary">Please Make A Collection to Add Cards</p>
              <% } %> 
            </section>
          </article>
        <% } %> 
      <% }) %>
    </section>
  <% } %>
</main>
<script>
  const cardDisplay = document.querySelector('.card-display');

  cardDisplay.addEventListener('submit', (event) => {
  console.log(event);
  setTimeout(() => {
    event.target.reset();
    console.log('Collection Updated');
  }, 1);
});
</script>
<%- include('../partials/footer') %>