<%- include('../partials/header') %>
<main>  
  <h1>Card Search</h1>
  <form action="/cards/search" method="GET" class="search-form">
    <label for="q" class="hide">Search for cards</label>
    <input type="text" id="search-bar" name="q" placeholder="Search for cards...">
    <button type="submit" class="hide">Find Cards</button>
  </form>
  <% if (cards) { %>
    <section class="card-display">
      <% cards.forEach(card => { %>
        <% if ((card.layout === 'art_series' || card.layout === 'modal_dfc' || card.layout === 'transform') && card.image_status !== 'missing') {%>
          <article class="card-display__card">
            <div class="card-display__card__top-flip">
              <div class="card-display__card__top-flip__inner">
                <% card.card_faces.forEach((cardFace) => { %>
                  <div class="card-container small">
                    <a href="<%= card.scryfall_uri %>">
                      <img src="<%= cardFace.image_uris.small %>" alt="<%= cardFace.name %> "></p>
                    </a>
                  </div>
                <% }); %>
              </div>
            </div>
            <section>
              <p><%= card.name %> </p>
              <p><%= card.set_name %> </p>
              <% if (collections) { %>
                <form action="/cards" method="POST" class="collection-adder">
                  <label for="collection">Collections</label>
                  <select name="collection" id="">
                    <% collections.forEach(collection => { %>
                      <option value="<%= collection._id %>"><%= collection.collectionName %> </option>
                    <% }) %>
                  </select>
                  <input type="text" name="cardId" value="<%= card.id %>" class="hide">
                  <label for="quantity">Quantity</label>
                  <input type="number" value="1" name="quantity">
                  <button type="submit">+</button>
                </form>
              <% } %>
            </section>
          </article>
        <% } else {%>
          <article class="card-display__card">
            <div class="card-container small">
              <a href="<%= card.scryfall_uri %>">
                <img src="<%= card.image_uris ? card.image_uris.small : '' %>">
              </a>
            </div>
            <section>
              <p><%= card.name %> </p>
              <p><%= card.set_name %> </p>
              <% if (collections) { %>
                <form action="/cards" method="POST" class="collection-adder">
                  <label for="collections">Collections</label>
                  <select name="collection">
                    <% collections.forEach(collection => { %>
                      <option value="<%= collection._id %>"><%= collection.collectionName %></option>
                    <% }) %>
                  </select>
                  <input type="text" name="cardId" value="<%= card.id %>" class="hide">
                  <label for="quantity">Quantity</label>
                  <input type="number" value="1" name="quantity">
                  <button type="submit">+</button>
                </form>
              <% } %>
            </section>
          </article>
        <% } %> 
      <% }) %>
    </section>
  <% } %>
</main>
<script>
  const cardDisplay = document.querySelector('.card-display');

  cardDisplay.addEventListener('submit', (event) => {
  console.log(event);
  setTimeout(() => {
    event.target.reset();
    console.log('Collection Updated');
  }, 1);
});
</script>
<%- include('../partials/footer') %>